/* block — 块级显示 */
.wf-block {
  display: block;
}
@media (min-width: 640px) { .wf-block\@sm { display: block; } }
@media (min-width: 768px) { .wf-block\@md { display: block; } }
@media (min-width: 1024px) { .wf-block\@lg { display: block; } }
